@import 'null.scss';
@import 'font.scss';
@import 'media.scss';

$inter: "Inter", sans-serif;

$white: #FFFFFF;
$black: #000000;
$primary: #2F345C;
$secondary: #F8A46F;
$grey: #9C9C9C;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $inter;
}